<h1>Typography</h1>

<h2>Headings</h2>

<bb-source example="exampleHeadings" [source]="exampleHeadings">
<h1>h1. Bootstrap heading</h1>
<h2>h2. Bootstrap heading</h2>
<h3>h3. Bootstrap heading</h3>
<h4>h4. Bootstrap heading</h4>
<h5>h5. Bootstrap heading</h5>
<h6>h6. Bootstrap heading</h6>
</bb-source>

<h2>Headings using classes</h2>

<bb-source example="exampleHeadingsClasses" [source]="exampleHeadingsClasses">
<p class="h1">h1. Bootstrap heading</p>
<p class="h2">h2. Bootstrap heading</p>
<p class="h3">h3. Bootstrap heading</p>
<p class="h4">h4. Bootstrap heading</p>
<p class="h5">h5. Bootstrap heading</p>
<p class="h6">h6. Bootstrap heading</p>
</bb-source>

<h2>Customizing headings</h2>

<bb-source example="exampleCustomHeadings" [source]="exampleCustomHeadings">
<h3>
  Fancy display heading
  <small class="text-muted">With faded secondary text</small>
</h3>
</bb-source>

<h2>Display headings</h2>

<bb-source example="example3" [source]="example3">
<h1 class="display-1">Display 1</h1>
<h1 class="display-2">Display 2</h1>
<h1 class="display-3">Display 3</h1>
<h1 class="display-4">Display 4</h1>
</bb-source>

<h2>Lead</h2>

<bb-source example="example4" [source]="example4">
<p class="lead">
  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
</p>
</bb-source>

<h2>Inline text elements</h2>

<bb-source example="example5" [source]="example5">
<p>You can use the mark tag to <mark>highlight</mark> text.</p>
<p><del>This line of text is meant to be treated as deleted text.</del></p>
<p><s>This line of text is meant to be treated as no longer accurate.</s></p>
<p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
<p><u>This line of text will render as underlined</u></p>
<p><small>This line of text is meant to be treated as fine print.</small></p>
<p><strong>This line rendered as bold text.</strong></p>
<p><em>This line rendered as italicized text.</em></p>
</bb-source>


<h2>Section</h2>

<bb-source example="exampleSection" [source]="exampleSection">
<bb-section>
  <bb-section-header>Section header</bb-section-header>
  <bb-section-content>
<p>Brisket biltong beef, pancetta tenderloin strip steak turkey rump. Short loin jerky cow pig filet mignon turducken brisket capicola pancetta rump. Shank pork loin venison, corned beef beef shankle brisket meatloaf. Porchetta pig strip steak pork belly salami. Turducken spare ribs shank capicola short loin burgdoggen drumstick turkey cupim ball tip venison. Porchetta boudin short loin salami shank pastrami.</p>

<p>Pork jerky ball tip meatloaf bacon pork chop, tongue alcatra andouille short ribs spare ribs chuck. Hamburger shank bacon pork belly tenderloin. Filet mignon bresaola shankle cow corned beef. Short ribs chicken biltong shankle pastrami shoulder ribeye brisket tail fatback porchetta swine ham hock kevin. Sausage chicken pastrami, porchetta spare ribs bresaola kevin tri-tip. Shank sirloin jerky, t-bone ham bacon chicken tongue sausage rump doner. Ribeye fatback tenderloin swine meatloaf, tongue burgdoggen pork chop corned beef pork loin.</p>
  </bb-section-content>
  <bb-section-footer>
    <p>This is the footer!</p>
  </bb-section-footer>
</bb-section>

</bb-source>
