<form #form="ngForm" class="col-6 offset-3" autocomplete="off">
  <h1>Iniciar sesión </h1>

  <bb-input-container label="E-mail" class="bordered">
    <input bb-child name="userlogin" [(ngModel)]="auth.userlogin" autocomplete="off" />
  </bb-input-container>

  <bb-input-container label="DNI" class="bordered">
    <input bb-child name="password" [(ngModel)]="auth.password" autocomplete="off" />
  </bb-input-container>

  <div class="d-flex">
    <bb-button
      class="ml-auto mr-auto"
      (click)="login()"
      [disabled]="!form.valid">Login</bb-button>
  </div>


</form>
