@import './helpers.scss';

//  _____ _____ __    _____ _____ _____
// |     |     |  |  |     | __  |   __|
// |   --|  |  |  |__|  |  |    -|__   |
// |_____|_____|_____|_____|__|__|_____|

// Primary Colors
$navy:              #072146;
$blue-core:         #004481;
$blue-medium:       #2a86ca;
$blue-medium-wcag:  #1973b8;
$blue-light:        #5bbeff;
$blue-medium-ov:    #1464A5;
$blue-core-ov:      #043263;
$blue-white-medium: #49A5E6;
$blue-white-light:  #D4EDFC;

// Secondary Colors
$aqua:           #2dcccd;
$aqua-wcag:      #02a5a5;
$aqua-white:     #eaf9fa;
$aqua-light:     #5ac4c4;
$aqua-dark:      #02a5a5;
$aqua-wcag-dark: #018787;


$grey600:   #121212;
$grey500:   #666666;
$grey400:   #bdbdbd;
$grey300:   #d3d3d3;
$grey200:   #e9e9e9;
$grey100:   #f4f4f4;
$white:     #fff;

// Tertiary Colors
$red:         #da3851;
$red-white:   #f4c3ca;
$red-light:   #e77d8e;
$red-dark:    #a32a3d;

$coral:         #f35e61;
$coral-white:   #fcdfdf;
$coral-light:   #f59799;
$coral-dark:    #d44b50;

$orange:        #f7893b;
$orange-white:  #fddbc4;
$orange-light:  #fab27f;
$orange-dark:   #b9672c;

$yellow:        #f8cd51;
$yellow-white:  #fef5dc;
$yellow-light:  #fade8e;
$yellow-dark:   #ba9a3d;

$gold:        #d8be75;
$gold-white:  #f3ebd5;
$gold-light:  #e6d5a5;
$gold-dark:   #a28e58;

$green:       #48ae64;
$green-white: #d9efe0;
$green-light: #88ca9a;
$green-dark:  #388d4f;

$pink:        #f78be8;
$pink-white:  #fddcf8;
$pink-light:  #fab3f0;
$pink-dark:   #c569b9;

$purple:        #8f7ae5;
$purple-white:  #ddd7f7;
$purple-light:  #b6a8ee;
$purple-dark:   #7c6ac7;


// Special Colors
$black:         #000;

$overlay:       rgba(6, 32, 69, 0.25);

$blue-white:    #aacee7;  // "White Blue," non-standard color

$btn-yellow:      #e5b52a;
$btn-yellow-dark: #b68c11;
$btn-orange-dark: #c4580a;
$btn-salmon:      #f15a5f;  // Performance testing button color

$blue-white:        lighten($blue-light, 18%);  // "White Blue," non-standard color
$blue-white-light:  lighten($blue-light, 28%);  // "White Blue," non-standard color, Much Lighter


$menu-border:       transparentize($grey300, .70); // Mobile Menu style color for borders

// Social Colors
$color-facebook:   #3b5998;
$color-twitter:    #00aced;
$color-instagram:  #675144;
$color-linkedin:   #517fa4;
$color-googleplus: #dd4b39;
$color-pinterest:  #f15a5f;
$color-youtube:    #bb0000;

// ---------------------------------------------------- //

$danger:  #d9534f;
$warning: #f0ad4e;
$success: #5cb85c;
$info:    #337ab7;

// // Colors Light
// /*$blue1-light: transparentize($blue1, .75);*/

// // Colors Dark
// /*$magenta-dark: darken($magenta, 3%);*/

// ---------------------------------------------------- //

// Animations
$all-fast:        all 100ms linear 0s;
$bg-color-fast:     background-color 100ms linear 0s;
$color-fast:      color 100ms linear 0s;
$opacity-fast:      opacity 100ms linear 0s;

// ---------------------------------------------------- //

// Shadows
$box-shadow:      0 1px 1px 0 $grey300;
$box-shadow-large:    0 2px 3px 0 $grey300;
$inset-shadow:      inset 0 1px 0 0 #ececec;

// ---------------------------------------------------- //

//Validation code
$err-icon: #f35e61;
$err-box: #f8d7dc;

// ProductDivider__PublicWebStyleGuide.pdf
// CHANGE height should be 6px, ignored: 30px
$hr-border-color: $grey100;


// MISC STAFF

// disable table buttons
a[disabled="disabled"] {
  pointer-events:none;

  & > i {
      color: $grey400;
  }
}

// some basic font colors
.blue {
  color: $blue-core;
}
.green {
    color: $green;
}
.red {
    color: $red; // #dc0303;
}
.red-i {
    color: $red !important;
}
.orange {
  color: $orange;
}

// fix excesive markup on inline configurations
.form-inline {
  .form-group,
  .form-control-container,
  .form-control,
  .form-check {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}


// BBUI
@import './typography/typography.scss';
@import './buttons/buttons.scss';
@import './radios/radios.scss';
@import './alerts/alerts.scss';
@import './lists/lists.scss';
@import './cards/cards.scss';
@import './tabs/tabs.scss';
@import './inputs/inputs.scss';
@import './tables/tables.scss';
@import './navbar/navbar.scss';
@import './footer/footer.scss';
@import './modal/modal.scss';
@import './switch/switch.scss';


datepicker tbody .btn {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: $blue-medium;

}
datepicker .btn.btn-secondary {
  background-color: transparent !important;
  color: black;
}
bb-section-footer {
  width: 100%;
}
hr.hidden {
  visibility: hidden;
}
hr.half {
  margin-top: 0.5rem;
  bottom-top: 0.5rem;
}
hr.2x {
  margin-top: 2rem;
  bottom-top: 2rem;
}
hr.3x {
  margin-top: 3rem;
  bottom-top: 3rem;
}
