$fa-font-path: "~font-awesome/fonts";
@import '../../../node_modules/font-awesome/scss/font-awesome.scss';


@import '../../../node_modules/bootstrap/scss/_mixins.scss';

@import '../../bb4ui/pre-bb4ui.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../bb4ui/post-bb4ui.scss';

@import '../../../node_modules/ng2-toasty/style-bootstrap.css';


@media print {
  nav, footer {
    display: none !important;
  }

  hr {
    page-break-before: always;
  }

  .question {
    page-break-inside: avoid;
  }

  .landscape {
    -webkit-transform: rotate(-90deg);
    -moz-transform:rotate(-90deg);
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  }

}
