<bb-static label="<%= field.label %>">
{{<%= ngModel %> | date: "yyyy-MM-dd H:m:s" }}
</bb-static>

<datepicker
  id="<%= id %>"
  name="<%= name %>"
  <% if (field.required) {%>
  required="required"
  <% } %>
  [(ngModel)]="<%= ngModel %>"
  [showWeeks]="false"
  #<%= modelName %>="ngModel"></datepicker>
  <!-- <timepicker  [(ngModel)]="<%= ngModel %>" [showSeconds]="true"></timepicker> -->
<!--
  [minDate]="minDate"
  [showWeeks]="true"
  [dateDisabled]="dateDisabled"
-->
<bb-errors [model]="<%= modelName %>"></bb-errors>
