<bb-input-container
  label="<%= field.label %>"
  <% if (field.controlHelp) { %> help="<$= field.controlHelp %>" <% } %>
  class="bordered top-label">
  <select
    bb-child
    id="<%= id %>"
    name="<%= name %>"
    <% if (options.required) {%>
    required="required"
    <% } %>
    [(ngModel)]="<%= ngModel %>"
    #<%= modelName %>="ngModel">
    <option *ngFor="let row of <%= srcModel %>" [ngValue]="row.<%= srcId %>">{{row.<%= srcLabel %>}}</option>
    </select>

    <bb-errors [model]="<%= modelName %>"></bb-errors>

</bb-input-container>
