<!--
<pre>{{entities | json}}</pre>
<pre>{{test | json}}</pre>
<pre>{{usersInTest | json}}</pre>
<pre>{{testAnswers | json}}</pre>
-->
<bb-section>
  <bb-section-header>Listado de exámenes</bb-section-header>
  <bb-section-content>
    <bb-table>
      <thead>
        <tr>
          <th>Nombre del examén</th>
          <th>Actions</th>
        <tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of entities?.list; let i = index">
          <td>{{row.label}}</td>
          <td class="actions">
            <a [routerLink]="['/statistics', row.id]"><i class="fa fa-bar-chart" aria-hidden="true"></i></a>
          </td>
        <tr>
      </tbody>
    </bb-table>
  </bb-section-content>
</bb-section>
