<!--
<pre>{{entities | json}}</pre>
<pre>{{test | json}}</pre>
<pre>{{usersInTest | json}}</pre>
<pre>{{testAnswers | json}}</pre>
-->
<bb-section>
  <bb-section-header>Estadísticas de: {{test?.label}} / {{test?.tags}}</bb-section-header>
  <bb-section-content>

    <div class="d-flex">
      <bb-button class="ml-auto" (click)="toExcel()">Descargar</bb-button>
    </div>

    <h3>Exámen resuelto</h3>
    <div class="question" *ngFor="let question of test?.blocks[0].questions; let currentQuestion = index">
      <h4><span class="blue">{{currentQuestion + 1}}</span>. {{question.questionLabel}}</h4>

      <ul class="list-unstyled">
        <li *ngFor="let answer of question?.answers; let currentAnswer = index;">
          <h6>
            <i
              [class.fa-check-square-o]="testAnswers[currentQuestion] == currentAnswer"
              [class.fa-square-o]="testAnswers[currentQuestion] != currentAnswer"
              class="fa" aria-hidden="true"></i>
            <strong class="blue">{{answerIndexes[currentAnswer]}})</strong> {{answer.answerLabel}}
          </h6>
        </li>
      </ul>
    </div>

    <hr />

    <h3>Estadísticas del exámen</h3>

    <bb-table [condensed]="true">
      <thead>
        <tr>
          <th>Pregunta</th>
          <th>Aciertos</th>
          <th>Errores</th>
          <th>%</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>{{test?.tags}}</td>
          <td>{{tResults.ok}}</td>
          <td>{{tResults.ko}}</td>
          <td>{{percentage(tResults.ok, tResults.ko)}}%</td>
        </tr>
      </tbody>
    </bb-table>

    <hr />

    <h3>Desglose por pregunta ({{qResults?.length}})</h3>

    <bb-table [condensed]="true">
      <thead>
        <tr>
          <th>Pregunta</th>
          <th>Aciertos</th>
          <th>Errores</th>
          <th>%</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of qResults; let i = index">
          <td>{{i + 1}}</td>
          <td>{{row.ok}}</td>
          <td>{{row.ko}}</td>
          <td>{{percentage(row.ok, row.ko)}}%</td>
        </tr>
      </tbody>
    </bb-table>

    <hr />
    <div class="landscapex">

      <h3>Desglose por usuario ({{usersInTest?.length}})</h3>

      <bb-table [condensed]="true">
        <thead>
          <tr>
            <th class="nowrap">Nombre y apellidos</th>
            <th *ngFor="let question of test?.blocks[0].questions; let i = index">
            {{i + 1}}
            </th>
            <th>Aciertos</th>
            <th>Errores</th>
            <th>%</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of usersInTest; let iuser = index">
            <td class="nowrap">{{user.name}} {{user.surname}}</td>

            <td *ngFor="let question of test?.blocks[0].questions; let i = index">
            <!-- {{user.stat.answers[i]}} - {{testAnswers[i]}} - -->
              <i
                [class.fa-check]="user.stat.answers[i] == testAnswers[i]"
                [class.green]="user.stat.answers[i] == testAnswers[i]"
                [class.fa-times]="user.stat.answers[i] != testAnswers[i]"
                [class.red]="user.stat.answers[i] != testAnswers[i]"
              class="fa" aria-hidden="true"></i>
            </td>

            <td>{{user.ok}}</td>
            <td>{{user.ko}}</td>
            <td class="text-center">
              {{user.result}}%
            </td>
          </tr>
        </tbody>

      </bb-table>
    </div>

  </bb-section-content>
</bb-section>
