block controlBlock
  input.form-control(
    id="control-" + control.backField.name
    type="number"
    name=control.formName
    ng-model=control.model
  )&attributes(control.frontField.attributes)
