block controlBlock
  input.form-control(
    id="control-" + control.backField.name
    type="password"
    name=control.backField.name
    ng-model=control.model
  )&attributes(control.frontField.attributes)
