<form #form="ngForm" *ngIf="test">
  <!-- <pre>{{test |json}}</pre> -->
  <!-- <pre>{{test.blocks[currentBlock].questions[currentQuestion] |json}}</pre> -->

  <h1>{{test.label}} ({{currentQuestion + 1}} / {{maxQuestion}})</h1>
  <h2>{{test.blocks[currentBlock].questions[currentQuestion].questionLabel}}</h2>
  <ul class="list-unstyled">
    <li *ngFor="let answer of test.blocks[currentBlock].questions[currentQuestion].answers; let i = index;">

    <bb-radio
      name="answer"
      [(ngModel)]="answers[currentQuestion]"
      required="required"
      [value]="i">
        <strong>{{answerIndexes[i]}}</strong>: {{answer.answerLabel}}
      </bb-radio>

    </li>
  </ul>

  <div class="row">
    <bb-button
      (click)="prev()"
      *ngIf="currentQuestion > 0">Pregunta anterior</bb-button>

    <bb-button
      class="ml-auto"
      (click)="next()"
      *ngIf="currentQuestion + 1 < maxQuestion"
      [disabled]="!form.valid">Pregunta siguiente</bb-button>

    <bb-button
      btn="warning"
      class="ml-auto"
      (click)="finish(bbModal, false)"
      *ngIf="currentQuestion + 1 == maxQuestion"
      [disabled]="!form.valid">Entregar examen</bb-button>
  </div>


</form>


<bb-modal
  header="Entregar examen"
  size="lg"
  #bbModal>
  <bb-section-content>
    <p>¿Está seguro de entregar el exámen?</p>
    <p>Un examen entregado no puede ser modificado.</p>
  </bb-section-content>
  <bb-section-footer>
    <div class="d-flex">
      <bb-button (click)="bbModal.hide()">Volver</bb-button>
      <bb-button btn="warning" class="ml-auto"(click)="finish(bbModal, true)">Entregar examen</bb-button>
    </div>
  </bb-section-footer>
</bb-modal>
