<form #form="ngForm" *ngIf="test" id="test-container">
  <!-- <pre>{{test |json}}</pre> -->
  <!-- <pre>{{test.blocks[currentBlock].questions[currentQuestion] |json}}</pre> -->
  <!-- <pre>{{answers |json}}</pre> -->

  <div class="d-flex">
    <div class="ml-auto"><i class="fa fa-clock-o" aria-hidden="true"></i> Tiempo restante: {{countDown()}}</div>
  </div>

  <hr class="hidden" />

  <h1 class="underline d-flex">
  <span>{{test.label}}</span>
  <span class="ml-auto">({{currentQuestion + 1}} / {{maxQuestion}})</span>
  </h1>
  <h3><span class="blue">{{currentQuestion + 1}}</span>. {{test.blocks[currentBlock].questions[currentQuestion].questionLabel}}</h3>

  <hr class="hidden half" />

  <ul class="list-unstyled">
    <li *ngFor="let answer of test.blocks[currentBlock].questions[currentQuestion].answers; let i = index;">

    <bb-radio
      class="middle"
      name="answer"
      [(ngModel)]="answers[currentQuestion]"
      required="required"
      [value]="i">
        <h5><strong>{{answerIndexes[i]}}</strong>: {{answer.answerLabel}}</h5>
      </bb-radio>

    </li>
  </ul>

  <hr />

  <div class="row">
    <bb-button
      (click)="prev()"
      *ngIf="currentQuestion > 0">Pregunta anterior</bb-button>

    <bb-button
      class="ml-auto"
      (click)="next()"
      *ngIf="currentQuestion + 1 < maxQuestion"
      [disabled]="!form.valid">Pregunta siguiente</bb-button>

    <bb-button
      btn="warning"
      class="ml-auto"
      (click)="finish(true, false, false)"
      *ngIf="currentQuestion + 1 == maxQuestion"
      [disabled]="!form.valid">Entregar examen</bb-button>
  </div>


</form>


<bb-modal
  header="Entregar examen"
  size="lg"
  #finishExamModal>
  <bb-section-content>
    <p>¿Está seguro de entregar el exámen?</p>
    <p>Un examen entregado no puede ser modificado.</p>
  </bb-section-content>
  <bb-section-footer>
    <div class="d-flex">
      <bb-button (click)="finishExamModal.hide()">Volver</bb-button>
      <bb-button btn="warning" class="ml-auto"(click)="finish(true, true)">Entregar examen</bb-button>
    </div>
  </bb-section-footer>
</bb-modal>

<bb-modal
  header="Tiempo de examen agotado"
  size="lg"
  [closeButton]="false"
  #timeExpiredModal>
  <bb-section-content>
    <p>El tiempo máximo de exámen se ha superado, el examen ha sido grabado automáticamente</p>
  </bb-section-content>
  <bb-section-footer>
    <div class="d-flex">
      <bb-button btn="warning" class="ml-auto"(click)="exit()">Ok</bb-button>
    </div>
  </bb-section-footer>
</bb-modal>

<bb-modal
  header="Examen grabado"
  size="lg"
  [closeButton]="false"
  #doneModal>
  <bb-section-content>
    <p>Su examen se ha grabado con éxito.</p>
  </bb-section-content>
  <bb-section-footer>
    <div class="d-flex">
      <bb-button btn="warning" class="ml-auto"(click)="exit()">Salir</bb-button>
    </div>
  </bb-section-footer>
</bb-modal>
