div.control-container.form-group.has-feedback(
  ng-class= "{" +
    "'has-error': (" + control.formModel +".$touched || " + form_path +".$dirty) && " + control.formModel +".$invalid," +
    "'has-success': " + control.formModel +".$valid" +
  "}"
  id=`${control.backField.name}-container`
  )&attributes(control.container)
  block labelBlock
    label.control-label(for=control.backField.name translate="")= control.label
  block contentBlock
    div
      div.control-wapper
        block controlBlock
        //span.glyphicon.glyphicon-ok.form-control-feedback.ng-hide(ng-show= control.formModel + ".$valid")
        //span.glyphicon.glyphicon-remove.form-control-feedback.ng-hide(ng-show= control.formModel + ".$invalid")

  if control.help
    div.clearfix
    div.help-block(translate="")= control.help

  div.clearfix
  block errorsBlock
    div.error-list
      include errors-list.pug
