block errorsBlock
  div.alert.alert-danger(ng-show=`(${control.formModel}.$touched || ${control.formModel}.$dirty) && ${control.formModel}.$invalid`)
    each err_str, key in control.errors
      block errorBlock
