<h1>Buttons</h1>

<h3>Filled buttons</h3>

<bb-source example="example1" [source]="example1">
<bb-button>Primary</bb-button>
<bb-button
  btn="secondary">Secondary</bb-button>
<bb-button
  btn="info">Info</bb-button>
<bb-button
  btn="success">Success</bb-button>
<bb-button
  btn="warning">Warning</bb-button>
<bb-button
  btn="danger">Danger</bb-button>
</bb-source>

<h3>Outline buttons</h3>
<bb-source example="example2" [source]="example2">
<bb-button
  btn="outline-primary">Primary</bb-button>
<bb-button
  btn="outline-secondary">Secondary</bb-button>
<bb-button
  btn="outline-info">Info</bb-button>
<bb-button
  btn="outline-success">Success</bb-button>
<bb-button
  btn="outline-warning">Warning</bb-button>
<bb-button
  btn="outline-danger">Danger</bb-button>
</bb-source>

<h3>Disabled buttons</h3>

<bb-source example="example3" [source]="example3">
<bb-button
  [disabled]="true">Primary</bb-button>
<bb-button
  [disabled]="true"
  btn="secondary">Secondary</bb-button>
<bb-button
  [disabled]="true"
  btn="info">Info</bb-button>
<bb-button
  [disabled]="true"
  btn="success">Success</bb-button>
<bb-button
  [disabled]="true"
  btn="warning">Warning</bb-button>
<bb-button
  [disabled]="true"
  btn="danger">Danger</bb-button>
</bb-source>
